---
---
<!DOCTYPE html>

<html>
<head>
	<title>Fairfax Jugglers</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <style>
      {% include style.css %}
   </style>
</head>

<body>
  {% include sidebar.html %}
   <main>
      <h1 align="center">Fairfax Jugglers</h1>
      <p align="center">
      <img src="images/banner.jpg" width="179" height="419" alt="Fairfax Jugglers banner" border="0">
      <br><br>
      Welcome to the online home of the Fairfax Jugglers!!
      <br><br>
      The Fairfax Juggling Club typically <a href="meetings.html">meets weekly</a> in Fairfax County, Virginia.  
      <br><br>
      The club is open to jugglers of all skill levels, from beginners to professionals.  
      If you don't know how to juggle, we'll happily teach you.  If you do know how to juggle, come out and play!  
      <br><br>
      The juggling toys range from the standard balls and clubs to rings, devil sticks, diablos, ropes, 
      tops, unicycles, cigar boxes, and anything else we can come up with.  There tends to be a fair amount of
      club passing, as throwing things at other people is a nice way to wind down the day 
      (keeping in mind, of course, that they throw things back!).  So come out and join us!
      </p>
   </main>
</body>
</html>
