---
---
<!DOCTYPE html>

<html>
<head>
   <title>Fairfax Jugglers - Links</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <style>
      {% include style.css %}
   </style>
</head>

<body>
  {% include sidebar.html %}
   <main>
      <h1 align="center">Fairfax Jugglers</h1>
      <h2 align="center">Links</h2>
      <p align="center">
<!--
      The US Department of Juggling gets together on Fridays: <br>
      <a href="http://www.usjuggling.org">http://www.usjuggling.org</a>
      <br><br>
-->
      Ye Olde Ashburn Juggling Society: <br>
      <a href="http://www.ashburnjuggling.club">http://www.ashburnjuggling.club</a>
      <br><br>
      The Baltimore Jugglers Association (Facebook): <br>
      <a href="https://www.facebook.com/groups/2602348923380595">https://www.facebook.com/groups/2602348923380595</a>
      <br><br>
      The University of Maryland Juggling Club (Facebook): <br>
      <a href="https://www.facebook.com/groups/umdjugglingclub/">https://www.facebook.com/groups/umdjugglingclub/</a>
      <br><br>
      The International Jugglers Association (IJA):<br>
      <a href="http://www.juggle.org">http://www.juggle.org</a>
      <br><br>
      The Juggling Information Service (JIS):<br>
      <a href="http://www.juggling.org">http://www.juggling.org</a>
      </p>
   </main>
</body>
</html>
