---
---
<!DOCTYPE html>

<html>
<head>
	<title>Fairfax Jugglers - Meetings</title>
   <style>
      {% include style.css %}
   </style>
</head>

<body>
  {% include sidebar.html %}
   <main>
      <h1 align="center">Fairfax Jugglers</h1>
      <h2 align="center">Meetings</h2>
      <div style="text-align: left; max-width: 500px; margin: auto;">
      <h3>Club Meetings are held <br/>
      Thursdays, 7:00-9PM</h3>
      We are currently meeting at Fairfax county libraries.  
      <br>
      Location change based on room availability.<br>
      <ul>
      {% for meeting in site.data.meetings %}
         <li>{{ meeting.date }} {{ meeting.location }} {{ meeting.time }}</li>
      {% endfor %}
      </ul>
      <!---
      <br><br>
      <a href="http://www.mapquest.com/maps/map.adp?country=US&amp;addtohistory=&amp;address=6402%2BFranconia%2BRoad&amp;city=springfield&amp;state=va&amp;zipcode=&amp;homesubmit=Get%2BMap">Mapquest map and driving directions</a>
      <br><br>
      Enter parking lot at (opposite) Japonica Street. Turn right (east) and head around to the back of the building to park.  Pete has had a door to the cafeteria open from the outside near entrance #6, on the east side along a sidewalk and this may be the best way in.  
      Alternately, use entrance #5 and turn left at the first cross-hall, then look for the cafeteria on the left.  If you don't see us in the cafeteria, check the gym, down the hall (going north) OR, from the east side, through entrance #5 and continue straight.
      <!--park on left (west) of building, enter covered entrance and go to end of hall filled with lockers to the second left; cafeteria is on the right.-->
      <!--
      Lee High School<br>
      6540 Franconia Road<br>
      Springfield, VA 22150
      <br><br>
      <a href="http://www.mapquest.com/maps/map.adp?country=US&amp;addtohistory=&amp;address=6540%2BFranconia%2BRoad&amp;city=springfield&amp;state=va&amp;zipcode=&amp;homesubmit=Get%2BMap">Map and driving directions</a>
      <br><br>
      <b>From the west</b>, along Franconia Road, moving away from I-95, turn left (north) at the stoplight at Frontier Drive and go underneath the ramp that carries Franconia Rd. over I-95 (the opposite direction along Frontier goes toward the commercial area: Starbucks, Best Buy, Friday's and the mall).  After about 1/4 mi turn right at a stop sign into the parking lot.
      <br><br>
      <b>From the east</b> along Franconia Road turn right (north) just past the baseball fields and the Lee High sign into an access road that leads into the parking lot.  If you miss it, continue down to the light at Frontier and turn right, then right again at a stop sign.
      <br><br>
      The cafeteria is on the north side of the school (to your left if facing the school's main entrance) adjacent to entrance 3.  On the east side, near the trash bins, is entrance 4, which is probably always open.  It is not clear now which entrances will be open to the first arrivals, but however you get in, please prop open a door of the cafeteria for the rest of us.
      <br>
      Parking availability is also unclear as classes and people using the ball fields might take some of the spots that are rightfully ours!
      
      <br><br>
      We only meet if Fairfax County Schools are holding evening activities.  
      Check the <a href="http://fcps.edu/news/emerg.shtml">Fairfax County Public Schools Emergency Announcements</a> for information on school closings.
      School-related activities sometimes take precedence over our juggling club meetings, in which case we may be moved to an alternate room in the school or club may be cancelled.  
      <a href="contacts.html">Contact the club spokes-people</a> for the latest and greatest information about the coming week's meeting.
      <br><br>
      <img src="images/juggling_club_circus_club.png" width="518" height="367" alt="Map of Key with club locations marked" border="0">
      <br>
      <i>Specialized Google Map image courtesy of Doug Himes</i>
      </p>-->
      </div>
   </main>
</body>
</html>
