---
---
<!DOCTYPE html>

<html>
<head>
	<title>Fairfax Jugglers</title>
   <style>
      {% include style.css %}
   </style>
</head>

<body>
  {% include sidebar.html %}
   <main>
      <h1 align="center">Fairfax Jugglers T-Shirt Sayings</h1>
      <p align="left">
      <ul>
      <li>Juggling - it's about time</li>
      <li>Once more with stealing</li>
      <li>Danger: Artist Please stand back</li>
      <li>7 ball juggler</li>
      <li>Travel. Meet people. Throw things at them.</li>
      <li>clubjuggler clubjuggler.com</li>
      <li>Passing Strange</li>
      <li>Fight Gravity? Inconceivable!</li>
      <li>Perpetual Motion</li>
      <li>The Good, the Bad, and the Juggly</li>
      <li>Whip it - whip it good!</li>
      <li>Props on film</li>
      <li>Sinister passing anyone</li>
      <li>I don't juggle</li>
      <li>Juggle 42 (in binary)</li>
      <li>Gravity check</li>
      <li>Lorenzo the Great</li>
      <li>Contact Sports</li>
      <li>Let's Throw Something!</li>
      <li>Balls + Clubs + Rings = Mad Jenk</li>
      <li>I'll take three hamsters, please</li>
      <li>It just looks like magic...</li>
      <li>Two hands are three hands too many</li>
      <li>The devil stick made me do it!</li>
      <li>Juggle now, procrastinate later</li>
      <li>Garbage out, garbage in</li>
      <li>Keep on jugglin'</li>
      <li>Bounce Boy www.bouncepage.com</li>
      <li>Catch me if you can!</li>
      <li>Ludicrous Speed</li>
      <li>Break a Nail</li>
      </ul>
      </p>
   </main>
</body>
</html>
