body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

nav {
    background-color: #eee;
    width: 160px;
    padding: 5px;
}

main {
    width: 100%;
    padding: 5px;
}

main > h1 {
    margin-top: 0;
}