* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

nav {
    background-color: #eee;
    width: 160px;
    padding: 5px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    margin-bottom: 3px;
}
nav > ul > li > a {
    padding: 5px 8px;
    font-size: large;
    line-height: 2;
    text-decoration: none;
    color: #00E;
}
nav > ul > li > a:visited {
    color: #00E;
    text-decoration: none;
}
nav > ul > li > a:hover {
    color: purple;
    text-decoration: underline;
}
nav > ul > li.active {
    border-left: 2px solid purple;
    background-color: aliceblue;
}

main {
    width: 100%;
    padding: 5px;
}

main > h1 {
    margin-top: 0;
}

@media screen and (max-width: 700px) {
    body {
        display: block;
    }
    nav {
        width: 100%;
    }
    nav > ul {
        display: flex;
        margin: 0;
    }
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 701px) {
    .mobile {
        display: none;
    }
}