---
---
<!DOCTYPE html>

<html>
<head>
	<title>Fairfax Jugglers - Banner Stand</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <style>
      {% include style.css %}
   </style>
</head>

<body>
  {% include sidebar.html %}
   <main>
      <h1 align="center">Fairfax Jugglers</h1>
      <p align="center">
      <img src="/images/banner.jpg" width="179" height="419" alt="Fairfax Jugglers banner" border="0">
      <br><br>
      Banner Stand
      <br><br>
      <img src="IMG_0922.JPG" width="600" height="400" alt="Banner Stand" border="0">
      <br><br>
      <img src="IMG_0923.JPG" width="600" height="400" alt="Banner Stand" border="0">
      <br><br>
      <img src="IMG_0924.JPG" width="600" height="400" alt="Banner Stand" border="0">
      <br><br>
      <img src="IMG_0925.JPG" width="600" height="400" alt="Banner Stand" border="0">
      <br><br>
      <img src="IMG_0926.JPG" width="600" height="400" alt="Banner Stand" border="0">
      <br><br>
      <img src="IMG_0927.JPG" width="600" height="400" alt="Banner Stand" border="0">
      <br><br>
      <img src="IMG_0928.JPG" width="600" height="400" alt="Banner Stand" border="0">
      </p>
   </main>
</body>
</html>
